* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  padding: 80px 0px;
  background-color: #4267b2;
}

.secondary {
  background-color: #222E35;
}

h1 {
  color: #16202a;
  font-size: 30px;
}

p {
  color: #ffffff;
}

